@model ProductViewModel
@{
    ViewData["Title"] = "Update";
}


<h1>Update @Model.ProductName Product</h1>

    <div>
        <div class="col-6">
        <form asp-controller="Product" asp-action="Update">

            <partial name="CreateUpdatePartialView" />

            <button type="submit" class="btn btn-primary" >
                <i class="fa fa-edit"></i>Update
            </button>
                <a asp-action="Index" class="btn btn-light">Back To List</a>
            </form>
        </div>
    </div>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}
