@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}
<a asp-action="Create" class="btn btn-success">Create New Category</a>

@if (Model?.Count() > 0)
{
    <h1>All Categories</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(x => x.CategoryName)</th>
                <th>@Html.DisplayNameFor(x => x.CategoryDescription)</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryName</td>
                    <td>@item.CategoryDescription</td>

                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="alert alert-warning">
        <h2>There Is No Categories Available !!</h2>

    </div>
}
